POSTGERS_USER=postgres
POSTGERS_PASSWROD=wangjian020426
POSTGERS_DB=rag_document_base
POSTGERS_PORT=5432

DATABASE_URL=postgresql+asyncpg://postgres:wangjian020426@8.140.219.233:5432/rag_document_base

MINIO_ENDPOINT=8.140.219.233:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
BUCKET_NAME=pythone-rag-document


#
CORS_ORIGINS=http://localhost:5173